.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 2rem;
}

.main-header h1 {
  color: #3751fe;
}

.lottie-container {
  height: 400px;
  width: 400px;
}
