.Card {
  margin-top: 20px;
  width: 220px;
  height: 280px;
  background: #f6f6fb;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.image-card {
  border-radius: 50%;
}

.lower-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.name {
  font-weight: 600;
}

.role {
  padding: 5px 15px;
  border-radius: 10px;
  background: #fdfdff;
}
