.nav {
  background-color: #0d6efd;
}
.nav-link {
  color: #fff !important;
}
.profile-img {
  border: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.btn {
  width: fit-content !important;
  letter-spacing: 0.1em;
  border-radius: 1em;
}
.profile {
  position: relative;
}
.edit-profile-img {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  width: 25px !important;
  height: 25px !important;
  background-color: #0d6efd;
  color: white;
}

.heading {
  color: #0d6efd;
}
